<!DOCTYPE HTML>
<html>
    <h1> Random PassCode (Passcode #@ViewBag.Count)</h1>
    <div>
        <h3>@ViewBag.PassCode</h3>
    </div>
    <form action="/Generate" method="post">
        <input type="submit" value="Generate">
    </form>
</html>